header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

ul > li > a {
  text-decoration: none;
  color: black;
}

#current-page {
  color: red;
}

main {
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 10%;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
}

.box {
  width: 100%;
}

.dis-column {
  display: flex;
  flex-direction: column;
  /* box-shadow: 9px 8px 0 1px rgba(0, 0, 0, 0.9); */
  padding: 0;
  margin: 0;
  color: black;
}

.project-nav {
  font-family: video, serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 3vw, 3rem);
  padding: 3% 0 3% 2vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main > a {
  position: relative;
  text-align: center;
}
