header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  background-color: #ebeff0;
}

h1 {
  font-family: brother-1816, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 0;
  color: #b22e8d;
}

ul {
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  font-style: normal;

  background-color: #f585493b;

  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

ul > li > a {
  text-decoration: none;
  color: #b93c96d6;
}

#current-page {
  color: #ef27a6;
}

main {
  display: grid;
  margin: 2rem 5rem;
  grid-column-gap: 5%;
  grid-row-gap: 3%;
  grid-template-columns: repeat(auto-fit, minmax(26vw, 1fr));
}

.box {
  width: 100%;
  opacity: 0.7;
}

.dis-column {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
}

main > a:hover .box {
  opacity: 1;
}

a > p {
  font-family: video, serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 3vw, 5rem);
  color: #ef27a6;

  padding: 3% 0 3% 2vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main > a:hover {
  opacity: 1;
}

@media only screen and (max-width: 650px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 900px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  }
}

/* footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 100%;
} */
