main {
  display: grid;
  margin: 2rem 5rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
}

#current-page {
  color: #ef27a6;
}

.box {
  width: 100%;
  opacity: 0.7;
}

.dis-column {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
}

main > a:hover .box {
  opacity: 1;
}

main p {
  font-family: video, serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  color: #ef27a6;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main > a:hover {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  }
}

/* footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 100%;
} */
