/* Colors
––––––––––––––––––––––––––––––––– */
:root {
  --background-color: #ebeff0;
  --header-background: #f585493b;
  --link-color: #b93c96d6;
  --title-color: #b22e8d;
  --impact-pink: #ef27a6;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-background);
}

nav {
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  font-style: normal;

  background-color: var(--header-background);

  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: var(--link-color);
}

body {
  margin: 0;
  background-color: var(--background-color);
}

h1 {
  font-family: brother-1816, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
  margin-bottom: 0;
  color: var(--title-color);
}

h2 {
  font-family: brother-1816, sans-serif;
  font-weight: 500;
  font-style: normal;

  color: var(--impact-pink);
  width: 100vw;
  text-align: center;
}

.current-page {
  color: var(--impact-pink);
}

@media only screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
