ul {
  font-family: video, serif;
  font-weight: 400;
  font-style: normal;
  color: #ef27a6;
  column-count: 3;
  margin-left: auto;
}

ul a {
  color: #ef27a6;
  font-size: 2rem;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

body {
  overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
  ul {
    column-count: 2;
  }
}

@media only screen and (max-width: 800px) {
  ul {
    column-count: 1;
  }
}
